:root {
    --main: #009b6f;
    /*color*/
    --sub: #d3d3d3;
    /*color*/
    --text-main: #0f8c24;
    /*color*/
    --color1: #ed879d;
    --color2: #ba0728;
    --color3: #fff;
}

#hero {
    background: url(https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 100% / cover fixed;
}

#name {
    border-top: 4px solid var(--color2);
    border-left: 4px solid var(--color2);
    padding: 10px;
}

.size-grid {
    border: 1px solid;
    transition: .5s ease;
}

.size-grid-handle:hover+div {
    z-index: 100;
}